# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_SCYLLA_LEFT
    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        def_bool y
endif

if SHIELD_SCYLLA_RIGHT
    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        def_bool n
endif

config ZMK_KEYBOARD_NAME
    default "Scylla MK2"
