# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT
 
if SHIELD_SCYLLA_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Scylla MK2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCYLLA_LEFT || if SHIELD_SCYLLA_RIGHT

config ZMK_SPLIT
    default y

endif
